<a href="https://colab.research.google.com/github/hgloor/Cursos_Alura/blob/main/Python_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [ ]:
!python -V

Python 3.9.16

# 1.3 Trabalhando com dados

In [ ]:
import pandas as pd
# pd.set_option('display.max_rows', 1000)
# pd.set_option('display.max_columns', 1000)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [ ]:
dataset.describe()

               Ano  Quilometragem          Valor
count   258.000000     197.000000     258.000000
mean   2007.511628   58278.421320   98960.513101
std       9.725906   35836.733259   29811.932305
min    1990.000000     107.000000   50742.100000
25%    1999.000000   27505.000000   70743.512500
50%    2008.000000   55083.000000   97724.380000
75%    2018.000000   90495.000000  124633.302500
max    2019.000000  119945.000000  149489.920000

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
()

()

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
nome = "Passat"
valor = 153000
(nome, valor)

('Passat', 153000)

In [ ]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nome_carros)

tuple

In [ ]:
'one', 'two', 'three'

('one', 'two', 'three')

# 2.2 Seleções em tuplas

In [ ]:
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nome_carros[0]

'Jetta Variant'

In [ ]:
nome_carros[-1]

'DS5'

In [ ]:
nome_carros[1:-1]

('Passat', 'Crossfox')

In [ ]:
nome_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nomes_carros[-1][1]

'Gol'

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Freios ABS'

In [ ]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nome_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [ ]:
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
carro_2

'Passat'

In [ ]:
carro_3

'Crossfox'

In [ ]:
carro_4

'DS5'

In [ ]:
_, a, _, b = nomes_carros

In [ ]:
a

'Passat'

In [ ]:
b

'DS5'

In [ ]:
_, c, *_ = nomes_carros

In [ ]:
c

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  if valor > 100000:
    print(carro)

Passat
DS5

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
for item in carros:
  for acessorio in item[4]:
    print(acessorio)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

In [ ]:
for item in carros:
  for acessorio in item[-1]:
    print(acessorio)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

In [ ]:
nome, valor = ('Passat', 100000.0)

In [ ]:
nomes = ('Passat', 'Crossfox')
valores = 100000.0, 75000.0
list(zip(nomes, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [ ]:
nomes = ['Passat', 'Crossfox']
valores = [100000.0, 75000.0]
list(zip(nomes, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [ ]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
for nome, km in list(zip(nomes, kms)):
  if km  < 20000:
    print(nome)

Passat
Crossfox
C4

In [ ]:
for nome, km in zip(nomes, kms):
  if km  < 20000:
    print(nome)

Passat
Crossfox
C4

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
carros.index('Passat')

1

In [ ]:
valores[carros.index('Passat')]

106161.94

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox':72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
type(dados)

dict

In [ ]:
lista = list(zip(carros, valores))
lista

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
dicio = dict(lista)
dicio

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

### Criando dicionários com *zip()*

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
dados2 = dict(zip(carros, valores))
dados2

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
dict1 = dict(zip(nomes, kms))
dict1

{'Passat': 15000, 'Crossfox': 12000, 'DS5': 32000, 'C4': 8000, 'Jetta': 50000}

In [ ]:
#{nomes: kms}

# 3.2 Operações com dicionários

In [ ]:
dados2

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'Passat' in dados2

True

In [ ]:
'Fusca' in dados2

False

In [ ]:
'Fusca' not in dados2

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len(dados2)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
dados2['DS5'] = 124549.07

In [ ]:
dados2

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
dados2

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [ ]:
del dados2['Passat']
dados2

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [ ]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [ ]:
'acessorios' in dados['Crossfox']

False

In [ ]:
'acessorios' in dados['Passat']

True

In [ ]:
dados['Crossfox']['valor']

25000

In [ ]:
dados['Passat']['acessorios'][-1]

'ABS'

In [ ]:
dados['Passat']['acessorios'][0]

'Airbag'

In [ ]:
dados['Passat']['acessorios']

['Airbag', 'ABS']

In [ ]:
dados['Passat']

{'ano': 2012, 'km': 50000, 'valor': 75000, 'acessorios': ['Airbag', 'ABS']}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados2

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [ ]:
dados2.update({'Passat': 106161.94})
dados2

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.94}

In [ ]:
dados2.update({'Passat': 106161.95, 'Fusca': 150000})
dados2

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dadosCopy = dados2.copy()

In [ ]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 150000}

In [ ]:
del dadosCopy['Fusca']
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95}

In [ ]:
dados2

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Passat': 106161.95}

In [ ]:
dadosCopy.pop('Passat')

106161.95

In [ ]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [ ]:
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [ ]:
dadosCopy.pop('DS5', 'Chave não encontrada')

124549.07

In [ ]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

## *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
dadosCopy.clear()

In [ ]:
dadosCopy

{}

In [ ]:
dados = {'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

In [ ]:
dados.update({'Passat': 85000, 'Fusca': 150000})
dados

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 85000,
 'Fusca': 150000}

In [ ]:
dados.update(Passat = 95000, Fusca = 160000)
dados

# Note que se a chave tiver um nome não válido para variáveis do Python (por exemplo: 'Jetta Variant'), o segundo formato não pode ser utilizado.

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 95000,
 'Fusca': 160000}

In [ ]:
dadosCopy = dados.copy()
dadosCopy

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 95000,
 'Fusca': 160000}

# 3.4 Iterando em dicionários

In [ ]:
dados

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 95000,
 'Fusca': 160000}

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados.keys()

dict_keys(['Jetta', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [ ]:
for key in dados.keys():
  print(key)

Jetta
Crossfox
DS5
Passat
Fusca

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dados.values()

dict_values([88000, 72000, 124000, 95000, 160000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
dados.items()

dict_items([('Jetta', 88000), ('Crossfox', 72000), ('DS5', 124000), ('Passat', 95000), ('Fusca', 160000)])

In [ ]:
for item in dados.items():
  print(item)

('Jetta', 88000)
('Crossfox', 72000)
('DS5', 124000)
('Passat', 95000)
('Fusca', 160000)

In [ ]:
for key, value in dados.items():
  print(key, value)

Jetta 88000
Crossfox 72000
DS5 124000
Passat 95000
Fusca 160000

In [ ]:
for key, value in dados.items():
  if (value > 100000):
    print(key)

DS5
Fusca

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
#  imprimir somente os nomes dos veículos com ano de fabricação maior ou igual a 2000
for key1, value1 in dados.items():
  print(key1, value1)

Crossfox {'valor': 72000, 'ano': 2005}
DS5 {'valor': 125000, 'ano': 2015}
Fusca {'valor': 150000, 'ano': 1976}
Jetta {'valor': 88000, 'ano': 2010}
Passat {'valor': 106000, 'ano': 1998}

In [ ]:
for key1, value1 in dados.items():
  for key2, value2 in value1.items():
    print(key2, value2)

valor 72000
ano 2005
valor 125000
ano 2015
valor 150000
ano 1976
valor 88000
ano 2010
valor 106000
ano 1998

In [ ]:
for key1, value1 in dados.items():
  for key2, value2 in value1.items():
    if key2 == 'ano' and value2 > 2000:
      print(key1)

Crossfox
DS5
Jetta

In [ ]:
for item in dados.items():
    print(item)

('Crossfox', {'valor': 72000, 'ano': 2005})
('DS5', {'valor': 125000, 'ano': 2015})
('Fusca', {'valor': 150000, 'ano': 1976})
('Jetta', {'valor': 88000, 'ano': 2010})
('Passat', {'valor': 106000, 'ano': 1998})

In [ ]:
for item in dados.items():
  print(item[1])

{'valor': 72000, 'ano': 2005}
{'valor': 125000, 'ano': 2015}
{'valor': 150000, 'ano': 1976}
{'valor': 88000, 'ano': 2010}
{'valor': 106000, 'ano': 1998}

In [ ]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

In [ ]:
for item in dados.values():
    if(item['ano'] >= 2000):
        print(item)

{'valor': 72000, 'ano': 2005}
{'valor': 125000, 'ano': 2015}
{'valor': 88000, 'ano': 2010}

In [ ]:
for item in dados.items():
    if(item[1]['ano'] >= 2000):
        print(dados.keys())

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta', 'Passat'])
dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta', 'Passat'])
dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta', 'Passat'])

In [ ]:
for item in dados.values():
    if(item['ano'] >= 2000):
        print(dados)

{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}
{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}
{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [ ]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
sum(list(dados.values()))

267072.74

In [ ]:
# adding a start value

sum(list(dados.values()), 100000)

367072.74

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print?

In [ ]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
# empty set
print(set())

# from string
print(set('Python'))

# from tuple
print(set(('a', 'e', 'i', 'o', 'u')))

# from list
print(set(['a', 'e', 'i', 'o', 'u']))

# from range
print(set(range(5)))

set()
{'h', 'o', 't', 'y', 'P', 'n'}
{'i', 'o', 'u', 'a', 'e'}
{'i', 'o', 'u', 'a', 'e'}
{0, 1, 2, 3, 4}

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [ ]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
def media(a, b, c):
  valor = (a+b+c)/3
  print(valor)

In [ ]:
media(1,2,3)

2.0

In [ ]:
media(23, 45, 67)

45.0

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  print(valor)

In [ ]:
media([1,2,3,4,5,6,7,8,9,10])

5.5

In [ ]:
resultado = media([1,2,3,4,5,6,7,8,9,10])

5.5

In [ ]:
resultado

In [ ]:
type(resultado)

NoneType

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dicio, anoAtual):
  for item in dicio.items():
    media = item[1]['km']/(anoAtual - item[1]['ano'])
    print(media)

In [ ]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor

In [ ]:
media([1,2,3,4,5,6,7,8,9,10])

5.5

In [ ]:
resultado = media([1,2,3,4,5,6,7,8,9,10])

In [ ]:
resultado

5.5

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return (valor, len(lista))

In [ ]:
media([1,2,3,4,5,6,7,8,9,10])

(5.5, 10)

In [ ]:
resultado = media([1,2,3,4,5,6,7,8,9,10])

In [ ]:
resultado

(5.5, 10)

In [ ]:
resultado, n = media([1,2,3,4,5,6,7,8,9,10])

In [ ]:
resultado

5.5

In [ ]:
n

10

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
  result = {}
  for item in dataset.items():
      media = item[1]['km'] / (ano_atual - item[1]['ano'])
      result[item[0]] = media
  return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

In [ ]:
def km_media1(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ item[0]: media })
    print(result)

In [ ]:
km_media1(dados, 2019)

{'Crossfox': 2500.0, 'DS5': 4250.0, 'Fusca': 3250.0, 'Jetta': 7000.0, 'Passat': 3100.0}

In [ ]:
def km_media2(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result = { item[0]: media }
    return result

In [ ]:
km_media2(dados, 2019)

{'Passat': 3100.0}

In [ ]:
def km_media3(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ item[0]: media })
    return result

In [ ]:
km_media3(dados, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

In [69]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [70]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
      media = item[1]['km'] / (ano_atual - item[1]['ano'])
      item[1]['km_media'] = media
      result.update({item[0]: item[1]})

    return result

In [71]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [72]:
def km_media1(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

In [73]:
km_media1(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [ ]:
def km_media2(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update( item[1] )
    return result

In [ ]:
km_media2(dados, 2019)

{'ano': 1999, 'km': 62000, 'km_media': 3100.0}

In [ ]:
def km_media4(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ 'km_media': media })
        result.update({ item[0]: result })
    return result

In [ ]:
km_media4(dados, 2019)

{'Crossfox': {...},
 'DS5': {...},
 'Fusca': {...},
 'Jetta': {...},
 'Passat': {...},
 'km_media': 3100.0}

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [54]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [55]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [56]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [57]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [58]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [59]:
dataset.columns

Index(['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor'], dtype='object')

In [60]:
dataset[['Ano', 'Quilometragem', 'Motor', 'Nome', 'Valor', 'Zero_km']]

    Ano  Quilometragem            Motor           Nome      Valor  Zero_km
0  2003        44410.0  Motor 4.0 Turbo  Jetta Variant   88078.64    False
1  1991         5712.0     Motor Diesel         Passat  106161.94    False
2  1990        37123.0  Motor Diesel V8       Crossfox   72832.16    False

### Criando um DataFrame a partir de um dicionário

In [61]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [62]:
dataset2 = pd.DataFrame(dados)

In [63]:
dataset2

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [64]:
dataset3 = pd.read_csv('db.csv', sep=';')

In [65]:
dataset3

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [78]:
carros = pd.DataFrame(km_media(dados, 2019)).T
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

In [79]:
dataset3.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [80]:
dataset4 = pd.read_csv('db.csv', sep=';', index_col=0)
dataset4

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [81]:
dataset3.columns

Index(['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Acessórios',
       'Valor'],
      dtype='object')

In [82]:
cols = list(dataset3.columns.values)
cols

['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Acessórios', 'Valor']

In [83]:
cols.sort()
cols

['Acessórios', 'Ano', 'Motor', 'Nome', 'Quilometragem', 'Valor', 'Zero_km']

In [84]:
dataset3 = dataset3[cols]
dataset3.head(3)

,Acessórios,Ano,Motor,Nome,Quilometragem,Valor,Zero_km
0,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",2003,Motor 4.0 Turbo,Jetta Variant,44410.0,88078.64,False
1,"['Central multimídia', 'Teto panorâmico', 'Fre...",1991,Motor Diesel,Passat,5712.0,106161.94,False
2,"['Piloto automático', 'Controle de estabilidad...",1990,Motor Diesel V8,Crossfox,37123.0,72832.16,False

In [85]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [86]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [87]:
new_dados = km_media(dados, 2019)
new_dados

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [88]:
carros_df = pd.DataFrame(new_dados)
carros_df

          Crossfox      DS5     Fusca    Jetta   Passat
km         35000.0  17000.0  130000.0  56000.0  62000.0
ano         2005.0   2015.0    1979.0   2011.0   1999.0
km_media    2500.0   4250.0    3250.0   7000.0   3100.0

In [89]:
carros_df.T

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

In [90]:
carros = pd.DataFrame(km_media(dados, 2019)).T
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [91]:
dataset4.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [92]:
dataset4['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [93]:
type(dataset4['Valor'])

pandas.core.series.Series

In [94]:
dataset4[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [95]:
type(dataset4[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [96]:
dataset4[0:3]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [97]:
dataset4.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [98]:
type(dataset4.loc['Passat'])

pandas.core.series.Series

In [99]:
dataset4.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [100]:
type(dataset4.loc[['Passat', 'DS5']])

pandas.core.frame.DataFrame

In [101]:
dataset4.loc[['Passat', 'DS5'], ['Valor', 'Motor']]

            Valor            Motor
Nome
Passat  106161.94     Motor Diesel
DS5     124549.07  Motor 2.4 Turbo

In [102]:
dataset4.loc[:, ['Valor', 'Motor']]

                           Valor                  Motor
Nome
Jetta Variant           88078.64        Motor 4.0 Turbo
Passat                 106161.94           Motor Diesel
Crossfox                72832.16        Motor Diesel V8
DS5                    124549.07        Motor 2.4 Turbo
Aston Martin DB4        92612.10        Motor 2.4 Turbo
...                          ...                    ...
Phantom 2013            51759.58               Motor V8
Cadillac Ciel concept   51667.06               Motor V8
Classe GLK              68934.03  Motor 5.0 V8 Bi-Turbo
Aston Martin DB5       122110.90           Motor Diesel
Macan                   90381.47        Motor Diesel V6

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [103]:
dataset4.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [104]:
dataset4.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [105]:
dataset4.iloc[[1]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [106]:
dataset4.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [107]:
dataset4.iloc[1:4, [0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [108]:
dataset4.iloc[[1, 42, 22], [0,5,2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

In [109]:
dataset4.iloc[1:4, 1:3]

           Ano  Quilometragem
Nome
Passat    1991         5712.0
Crossfox  1990        37123.0
DS5       2019            NaN

In [110]:
dataset4.iloc[:, 1:3]

                        Ano  Quilometragem
Nome
Jetta Variant          2003        44410.0
Passat                 1991         5712.0
Crossfox               1990        37123.0
DS5                    2019            NaN
Aston Martin DB4       2006        25757.0
...                     ...            ...
Phantom 2013           2014        27505.0
Cadillac Ciel concept  1991        29981.0
Classe GLK             2002        52637.0
Aston Martin DB5       1996         7685.0
Macan                  1992        50188.0

[258 rows x 2 columns]

In [111]:
dataset4.iloc[:, [0,5,2]]

                                       Motor      Valor  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64        44410.0
Passat                          Motor Diesel  106161.94         5712.0
Crossfox                     Motor Diesel V8   72832.16        37123.0
DS5                          Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10        25757.0
...                                      ...        ...            ...
Phantom 2013                        Motor V8   51759.58        27505.0
Cadillac Ciel concept               Motor V8   51667.06        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03        52637.0
Aston Martin DB5                Motor Diesel  122110.90         7685.0
Macan                        Motor Diesel V6   90381.47        50188.0

[258 rows x 3 columns]

In [112]:
import pandas as pd

dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados)

In [113]:
dataset

       Nome            Motor   Ano  Quilometragem  Zero_km     Valor
0     Jetta  Motor 4.0 Turbo  2019            0.0     True   88000.0
1    Passat     Motor Diesel  2003         5712.0    False  106000.0
2  Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
3       DS5        Motor 2.0  2019            0.0     True   89000.0
4     Fusca        Motor 1.6  1990       120000.0    False   32000.0

In [ ]:
dataset.columns

Index(['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor'], dtype='object')

In [114]:
dataset.loc[1:2, ['Nome', 'Ano', 'Quilometragem', 'Valor']]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [115]:
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:3]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [116]:
dataset[1:3][['Nome', 'Ano', 'Quilometragem', 'Valor']]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [117]:
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [118]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5             Motor 2.0  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [119]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [120]:
dataset.iloc[[1,3], [0,4]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [121]:
dataset.iloc[[1,3], [0,-1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Queries com DataFrames

In [122]:
dataset4.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [123]:
dataset4.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [124]:
dataset4.Motor == 'Motor Diesel'

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [125]:
select = dataset4.Motor == 'Motor Diesel'

In [126]:
select

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [127]:
type(select)

pandas.core.series.Series

In [128]:
dataset4[select]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Câ...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Câmera de estacionamento', '4 X 4', 'Travas ...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Teto panorâmico', '4 X 4', 'Bancos de couro'...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimídia', 'Ar condiciona...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Câmbio automático', 'Freios ABS', '...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Bancos de couro', 'Sensor de chuva', 'Ar con...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Freios ABS', 'Teto panorâmico', 'Central mul...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Teto panorâmico', 'Câmb...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Controle de tração', 'Ar condicionado', 'Tra...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Controle de tração', 'Piloto automático', 'T...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [129]:
dataset4[(dataset4.Motor == 'Motor Diesel') & (dataset4.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [130]:
(dataset4.Motor == 'Motor Diesel') & (dataset4.Zero_km == True)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Length: 258, dtype: bool

### Utilizando o método query

In [131]:
dataset4.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [132]:
dataset4.query('Motor == "Motor Diesel" or Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
...,...,...,...,...,...,...
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [133]:
dataset4[(dataset4.Motor == 'Motor Diesel') | (dataset4.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
...,...,...,...,...,...,...
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [134]:
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [135]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5          Motor Diesel  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [136]:
dataset.query('Ano > 2000')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [137]:
dataset[dataset.Ano > 2000]

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [138]:
dataset.query('Motor == "Motor Diesel" or Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [139]:
dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Zero_km == True)]

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [140]:
dataset.query('Motor == "Motor Diesel" | Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

# 5.4 Iterando com DataFrames

In [141]:
dataset4.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [142]:
for item in dataset4:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [143]:
dataset4.iterrows()

In [144]:
list(dataset4.iterrows())

[('Jetta Variant',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2003
  Quilometragem                                              44410.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Valor                                                     88078.64
  Name: Jetta Variant, dtype: object),
 ('Passat', Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                               5712.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
  Valor                                                    106161.94
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor                                              Motor Diesel V8
  Ano                                                           1990
  Quilometragem                                              37123.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Controle de estabilidad...
  Valor                                                     72832.16
  Name: Crossfox, dtype: object),
 ('DS5', Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Valor                                                    124549.07
  Name: DS5, dtype: object),
 ('Aston Martin DB4',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2006
  Quilometragem                                              25757.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
  Valor                                                      92612.1
  Name: Aston Martin DB4, dtype: object),
 ('Palio Weekend',
  Motor                                                Motor 1.8 16v
  Ano                                                           2012
  Quilometragem                                              10728.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
  Valor                                                     97497.73
  Name: Palio Weekend, dtype: object),
 ('A5', Motor                                              Motor 4.0 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Câmbio automático', 'Câmera de estacionament...
  Valor                                                      56445.2
  Name: A5, dtype: object),
 ('Série 3 Cabrio',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                              77599.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
  Valor                                                    112310.44
  Name: Série 3 Cabrio, dtype: object),
 ('Dodge Jorney',
  Motor                                                Motor 3.0 32v
  Ano                                                           2010
  Quilometragem                                              99197.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
  Valor                                                    120716.27
  Name: Dodge Jorney, dtype: object),
 ('Carens', Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2011
  Quilometragem                                              37978.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
  Valor                                                     76566.49
  Name: Carens, dtype: object),
 ('Ford Edge',
  Motor                                              Motor Diesel V6
  Ano                                                           2002
  Quilometragem                                              12859.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
  Valor                                                     71647.59
  Name: Ford Edge, dtype: object),
 ('Courier', Motor                                              Motor Diesel V8
  Ano                                                           2007
  Quilometragem                                               8052.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
  Valor                                                     73919.53
  Name: Courier, dtype: object),
 ('S-18', Motor                                                     Motor V6
  Ano                                                           2001
  Quilometragem                                              89773.0
  Zero_km                                                      False
  Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
  Valor                                                    112732.99
  Name: S-18, dtype: object),
 ('J5', Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
  Valor                                                     53183.38
  Name: J5, dtype: object),
 ('F-Type Coupé',
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2009
  Quilometragem                                              41457.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                    127488.42
  Name: F-Type Coupé, dtype: object),
 ('RAM', Motor                                              Motor Diesel V8
  Ano                                                           2016
  Quilometragem                                             115607.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
  Valor                                                      59910.4
  Name: RAM, dtype: object),
 ('Série 1', Motor                                                Motor 3.0 32v
  Ano                                                           2012
  Quilometragem                                              46449.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
  Valor                                                     61118.59
  Name: Série 1, dtype: object),
 ('A3', Motor                                                 Motor 1.0 8v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     88552.39
  Name: A3, dtype: object),
 ('XC90', Motor                                                 Motor 1.0 8v
  Ano                                                           2016
  Quilometragem                                              37086.0
  Zero_km                                                      False
  Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
  Valor                                                     62696.69
  Name: XC90, dtype: object),
 ('RS 3 Sportback',
  Motor                                                Motor 3.0 32v
  Ano                                                           2017
  Quilometragem                                              15173.0
  Zero_km                                                      False
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     101726.3
  Name: RS 3 Sportback, dtype: object),
 ('Pajero Sport',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2002
  Quilometragem                                             101193.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
  Valor                                                    106147.38
  Name: Pajero Sport, dtype: object),
 ('Série 1 M',
  Motor                                                     Motor V8
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de estabilidade', 'Central multimíd...
  Valor                                                      94564.4
  Name: Série 1 M, dtype: object),
 ('Lamborghini Obvious',
  Motor                                              Motor Diesel V6
  Ano                                                           1994
  Quilometragem                                              98079.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
  Valor                                                    133529.84
  Name: Lamborghini Obvious, dtype: object),
 ('Effa Hafei Picape Baú',
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                             102959.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Painel digital',...
  Valor                                                    125684.65
  Name: Effa Hafei Picape Baú, dtype: object),
 ('Lamborghini Murciélago',
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
  Valor                                                    121596.21
  Name: Lamborghini Murciélago, dtype: object),
 ('Up!', Motor                                              Motor Diesel V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
  Valor                                                      71367.1
  Name: Up!, dtype: object),
 ('Fiesta Rocam Sedan',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2016
  Quilometragem                                               5795.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
  Valor                                                     95347.75
  Name: Fiesta Rocam Sedan, dtype: object),
 ('Sandero Stepway',
  Motor                                                Motor 3.0 32v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
  Valor                                                    105432.84
  Name: Sandero Stepway, dtype: object),
 ('Cayman S',
  Motor                                                Motor 3.0 32v
  Ano                                                           2002
  Quilometragem                                              58848.0
  Zero_km                                                      False
  Acessórios       ['Câmbio automático', 'Sensor de estacionament...
  Valor                                                     57045.27
  Name: Cayman S, dtype: object),
 ('V40', Motor                                              Motor 4.0 Turbo
  Ano                                                           1991
  Quilometragem                                              94381.0
  Zero_km                                                      False
  Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
  Valor                                                     120432.7
  Name: V40, dtype: object),
 ('Classe SLS AMG',
  Motor                                                 Motor 1.0 8v
  Ano                                                           1997
  Quilometragem                                              30163.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Controle de esta...
  Valor                                                      70707.2
  Name: Classe SLS AMG, dtype: object),
 ('Gol G4', Motor                                                Motor 2.0 16v
  Ano                                                           1995
  Quilometragem                                              53332.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
  Valor                                                     69105.18
  Name: Gol G4, dtype: object),
 ('Linea', Motor                                                 Motor 1.0 8v
  Ano                                                           2018
  Quilometragem                                              17720.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
  Valor                                                     59358.69
  Name: Linea, dtype: object),
 ('Ford F100',
  Motor                                                Motor 2.0 16v
  Ano                                                           1991
  Quilometragem                                              33808.0
  Zero_km                                                      False
  Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
  Valor                                                      65955.4
  Name: Ford F100, dtype: object),
 ('J2', Motor                                                     Motor V8
  Ano                                                           2014
  Quilometragem                                              90684.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
  Valor                                                     60017.03
  Name: J2, dtype: object),
 ('Aston Martin DBS',
  Motor                                                     Motor V8
  Ano                                                           1995
  Quilometragem                                              43975.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
  Valor                                                    118909.52
  Name: Aston Martin DBS, dtype: object),
 ('Pajero TR4',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
  Valor                                                     51606.59
  Name: Pajero TR4, dtype: object),
 ('Polo Sedan',
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
  Valor                                                    123281.87
  Name: Polo Sedan, dtype: object),
 ('California',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                               5526.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...
  Valor                                                     69770.18
  Name: California, dtype: object),
 ('S60', Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...
  Valor                                                    102609.54
  Name: S60, dtype: object),
 ('Tucson', Motor                                                Motor 2.0 16v
  Ano                                                           2013
  Quilometragem                                              93415.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Sensor crepuscular', 'Fr...
  Valor                                                     67997.19
  Name: Tucson, dtype: object),
 ('HB20', Motor                                                     Motor V6
  Ano                                                           2003
  Quilometragem                                              40762.0
  Zero_km                                                      False
  Acessórios       ['Sensor de chuva', 'Travas elétricas', 'Contr...
  Valor                                                    135235.29
  Name: HB20, dtype: object),
 ('Optima', Motor                                                Motor 1.8 16v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Central multimídia', 'Ar condicionado', 'Tet...
  Valor                                                     86641.34
  Name: Optima, dtype: object),
 ('Logan', Motor                                              Motor 4.0 Turbo

In [145]:
dataset4.iteritems()

In [146]:
list(dataset4.iteritems())

[('Motor', Nome
  Jetta Variant                  Motor 4.0 Turbo
  Passat                            Motor Diesel
  Crossfox                       Motor Diesel V8
  DS5                            Motor 2.4 Turbo
  Aston Martin DB4               Motor 2.4 Turbo
                                   ...
  Phantom 2013                          Motor V8
  Cadillac Ciel concept                 Motor V8
  Classe GLK               Motor 5.0 V8 Bi-Turbo
  Aston Martin DB5                  Motor Diesel
  Macan                          Motor Diesel V6
  Name: Motor, Length: 258, dtype: object), ('Ano', Nome
  Jetta Variant            2003
  Passat                   1991
  Crossfox                 1990
  DS5                      2019
  Aston Martin DB4         2006
                           ...
  Phantom 2013             2014
  Cadillac Ciel concept    1991
  Classe GLK               2002
  Aston Martin DB5         1996
  Macan                    1992
  Name: Ano, Length: 258, dtype: int64), ('Quilometragem', Nome
  Jetta Variant            44410.0
  Passat                    5712.0
  Crossfox                 37123.0
  DS5                          NaN
  Aston Martin DB4         25757.0
                            ...
  Phantom 2013             27505.0
  Cadillac Ciel concept    29981.0
  Classe GLK               52637.0
  Aston Martin DB5          7685.0
  Macan                    50188.0
  Name: Quilometragem, Length: 258, dtype: float64), ('Zero_km', Nome
  Jetta Variant            False
  Passat                   False
  Crossfox                 False
  DS5                       True
  Aston Martin DB4         False
                           ...
  Phantom 2013             False
  Cadillac Ciel concept    False
  Classe GLK               False
  Aston Martin DB5         False
  Macan                    False
  Name: Zero_km, Length: 258, dtype: bool), ('Acessórios', Nome
  Jetta Variant            ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Passat                   ['Central multimídia', 'Teto panorâmico', 'Fre...
  Crossfox                 ['Piloto automático', 'Controle de estabilidad...
  DS5                      ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Aston Martin DB4         ['Rodas de liga', '4 X 4', 'Central multimídia...
                                                 ...
  Phantom 2013             ['Controle de estabilidade', 'Piloto automátic...
  Cadillac Ciel concept    ['Bancos de couro', 'Painel digital', 'Sensor ...
  Classe GLK               ['Rodas de liga', 'Controle de tração', 'Câmbi...
  Aston Martin DB5         ['Ar condicionado', '4 X 4', 'Câmbio automátic...
  Macan                    ['Central multimídia', 'Teto panorâmico', 'Vid...
  Name: Acessórios, Length: 258, dtype: object), ('Valor', Nome
  Jetta Variant             88078.64
  Passat                   106161.94
  Crossfox                  72832.16
  DS5                      124549.07
  Aston Martin DB4          92612.10
                             ...
  Phantom 2013              51759.58
  Cadillac Ciel concept     51667.06
  Classe GLK                68934.03
  Aston Martin DB5         122110.90
  Macan                     90381.47
  Name: Valor, Length: 258, dtype: float64)]

In [147]:
for index, row in dataset4.iterrows():
  if (2019 - row['Ano'] != 0):
    dataset4.loc[index, 'km_media'] = row['Quilometragem']/ (2019 - row['Ano'])
  else:
    dataset4.loc[index, 'km_media'] = 0
dataset4

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [148]:
dataset3.head()

,Acessórios,Ano,Motor,Nome,Quilometragem,Valor,Zero_km
0,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",2003,Motor 4.0 Turbo,Jetta Variant,44410.0,88078.64,False
1,"['Central multimídia', 'Teto panorâmico', 'Fre...",1991,Motor Diesel,Passat,5712.0,106161.94,False
2,"['Piloto automático', 'Controle de estabilidad...",1990,Motor Diesel V8,Crossfox,37123.0,72832.16,False
3,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",2019,Motor 2.4 Turbo,DS5,NaN,124549.07,True
4,"['Rodas de liga', '4 X 4', 'Central multimídia...",2006,Motor 2.4 Turbo,Aston Martin DB4,25757.0,92612.10,False

In [149]:
list(dataset3.iterrows())

[(0, Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Ano                                                           2003
  Motor                                              Motor 4.0 Turbo
  Nome                                                 Jetta Variant
  Quilometragem                                              44410.0
  Valor                                                     88078.64
  Zero_km                                                      False
  Name: 0, dtype: object),
 (1, Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
  Ano                                                           1991
  Motor                                                 Motor Diesel
  Nome                                                        Passat
  Quilometragem                                               5712.0
  Valor                                                    106161.94
  Zero_km                                                      False
  Name: 1, dtype: object),
 (2, Acessórios       ['Piloto automático', 'Controle de estabilidad...
  Ano                                                           1990
  Motor                                              Motor Diesel V8
  Nome                                                      Crossfox
  Quilometragem                                              37123.0
  Valor                                                     72832.16
  Zero_km                                                      False
  Name: 2, dtype: object),
 (3, Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Ano                                                           2019
  Motor                                              Motor 2.4 Turbo
  Nome                                                           DS5
  Quilometragem                                                  NaN
  Valor                                                    124549.07
  Zero_km                                                       True
  Name: 3, dtype: object),
 (4, Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
  Ano                                                           2006
  Motor                                              Motor 2.4 Turbo
  Nome                                              Aston Martin DB4
  Quilometragem                                              25757.0
  Valor                                                      92612.1
  Zero_km                                                      False
  Name: 4, dtype: object),
 (5, Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
  Ano                                                           2012
  Motor                                                Motor 1.8 16v
  Nome                                                 Palio Weekend
  Quilometragem                                              10728.0
  Valor                                                     97497.73
  Zero_km                                                      False
  Name: 5, dtype: object),
 (6, Acessórios       ['Câmbio automático', 'Câmera de estacionament...
  Ano                                                           2019
  Motor                                              Motor 4.0 Turbo
  Nome                                                            A5
  Quilometragem                                                  NaN
  Valor                                                      56445.2
  Zero_km                                                       True
  Name: 6, dtype: object),
 (7, Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
  Ano                                                           2009
  Motor                                                 Motor 1.0 8v
  Nome                                                Série 3 Cabrio
  Quilometragem                                              77599.0
  Valor                                                    112310.44
  Zero_km                                                      False
  Name: 7, dtype: object),
 (8, Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
  Ano                                                           2010
  Motor                                                Motor 3.0 32v
  Nome                                                  Dodge Jorney
  Quilometragem                                              99197.0
  Valor                                                    120716.27
  Zero_km                                                      False
  Name: 8, dtype: object),
 (9, Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
  Ano                                                           2011
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Nome                                                        Carens
  Quilometragem                                              37978.0
  Valor                                                     76566.49
  Zero_km                                                      False
  Name: 9, dtype: object),
 (10, Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
  Ano                                                           2002
  Motor                                              Motor Diesel V6
  Nome                                                     Ford Edge
  Quilometragem                                              12859.0
  Valor                                                     71647.59
  Zero_km                                                      False
  Name: 10, dtype: object),
 (11, Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
  Ano                                                           2007
  Motor                                              Motor Diesel V8
  Nome                                                       Courier
  Quilometragem                                               8052.0
  Valor                                                     73919.53
  Zero_km                                                      False
  Name: 11, dtype: object),
 (12, Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
  Ano                                                           2001
  Motor                                                     Motor V6
  Nome                                                          S-18
  Quilometragem                                              89773.0
  Valor                                                    112732.99
  Zero_km                                                      False
  Name: 12, dtype: object),
 (13, Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
  Ano                                                           2019
  Motor                                                     Motor V6
  Nome                                                            J5
  Quilometragem                                                  NaN
  Valor                                                     53183.38
  Zero_km                                                       True
  Name: 13, dtype: object),
 (14, Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
  Ano                                                           2009
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Nome                                                  F-Type Coupé
  Quilometragem                                              41457.0
  Valor                                                    127488.42
  Zero_km                                                      False
  Name: 14, dtype: object),
 (15, Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
  Ano                                                           2016
  Motor                                              Motor Diesel V8
  Nome                                                           RAM
  Quilometragem                                             115607.0
  Valor                                                      59910.4
  Zero_km                                                      False
  Name: 15, dtype: object),
 (16, Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
  Ano                                                           2012
  Motor                                                Motor 3.0 32v
  Nome                                                       Série 1
  Quilometragem                                              46449.0
  Valor                                                     61118.59
  Zero_km                                                      False
  Name: 16, dtype: object),
 (17, Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Ano                                                           2019
  Motor                                                 Motor 1.0 8v
  Nome                                                            A3
  Quilometragem                                                  NaN
  Valor                                                     88552.39
  Zero_km                                                       True
  Name: 17, dtype: object),
 (18, Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
  Ano                                                           2016
  Motor                                                 Motor 1.0 8v
  Nome                                                          XC90
  Quilometragem                                              37086.0
  Valor                                                     62696.69
  Zero_km                                                      False
  Name: 18, dtype: object),
 (19, Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Ano                                                           2017
  Motor                                                Motor 3.0 32v
  Nome                                                RS 3 Sportback
  Quilometragem                                              15173.0
  Valor                                                     101726.3
  Zero_km                                                      False
  Name: 19, dtype: object),
 (20, Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
  Ano                                                           2002
  Motor                                                 Motor 1.0 8v
  Nome                                                  Pajero Sport
  Quilometragem                                             101193.0
  Valor                                                    106147.38
  Zero_km                                                      False
  Name: 20, dtype: object),
 (21, Acessórios       ['Controle de estabilidade', 'Central multimíd...
  Ano                                                           2019
  Motor                                                     Motor V8
  Nome                                                     Série 1 M
  Quilometragem                                                  NaN
  Valor                                                      94564.4
  Zero_km                                                       True
  Name: 21, dtype: object),
 (22, Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
  Ano                                                           1994
  Motor                                              Motor Diesel V6
  Nome                                           Lamborghini Obvious
  Quilometragem                                              98079.0
  Valor                                                    133529.84
  Zero_km                                                      False
  Name: 22, dtype: object),
 (23, Acessórios       ['Controle de estabilidade', 'Painel digital',...
  Ano                                                           1991
  Motor                                                 Motor Diesel
  Nome                                         Effa Hafei Picape Baú
  Quilometragem                                             102959.0
  Valor                                                    125684.65
  Zero_km                                                      False
  Name: 23, dtype: object),
 (24, Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
  Ano                                                           2019
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Nome                                        Lamborghini Murciélago
  Quilometragem                                                  NaN
  Valor                                                    121596.21
  Zero_km                                                       True
  Name: 24, dtype: object),
 (25, Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
  Ano                                                           2019
  Motor                                              Motor Diesel V6
  Nome                                                           Up!
  Quilometragem                                                  NaN
  Valor                                                      71367.1
  Zero_km                                                       True
  Name: 25, dtype: object),
 (26, Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
  Ano                                                           2016
  Motor                                              Motor 4.0 Turbo
  Nome                                            Fiesta Rocam Sedan
  Quilometragem                                               5795.0
  Valor                                                     95347.75
  Zero_km                                                      False
  Name: 26, dtype: object),
 (27, Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
  Ano                                                           2019
  Motor                                                Motor 3.0 32v
  Nome                                               Sandero Stepway
  Quilometragem                                                  NaN
  Valor                                                    105432.84
  Zero_km                                                       True
  Name: 27, dtype: object),
 (28, Acessórios       ['Câmbio automático', 'Sensor de estacionament...
  Ano                                                           2002
  Motor                                                Motor 3.0 32v
  Nome                                                      Cayman S
  Quilometragem                                              58848.0
  Valor                                                     57045.27
  Zero_km                                                      False
  Name: 28, dtype: object),
 (29, Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
  Ano                                                           1991
  Motor                                              Motor 4.0 Turbo
  Nome                                                           V40
  Quilometragem                                              94381.0
  Valor                                                     120432.7
  Zero_km                                                      False
  Name: 29, dtype: object),
 (30, Acessórios       ['Sensor de estacionamento', 'Controle de esta...
  Ano                                                           1997
  Motor                                                 Motor 1.0 8v
  Nome                                                Classe SLS AMG
  Quilometragem                                              30163.0
  Valor                                                      70707.2
  Zero_km                                                      False
  Name: 30, dtype: object),
 (31, Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
  Ano                                                           1995
  Motor                                                Motor 2.0 16v
  Nome                                                        Gol G4
  Quilometragem                                              53332.0
  Valor                                                     69105.18
  Zero_km                                                      False
  Name: 31, dtype: object),
 (32, Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
  Ano                                                           2018
  Motor                                                 Motor 1.0 8v
  Nome                                                         Linea
  Quilometragem                                              17720.0
  Valor                                                     59358.69
  Zero_km                                                      False
  Name: 32, dtype: object),
 (33, Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
  Ano                                                           1991
  Motor                                                Motor 2.0 16v
  Nome                                                     Ford F100
  Quilometragem                                              33808.0
  Valor                                                      65955.4
  Zero_km                                                      False
  Name: 33, dtype: object),
 (34, Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
  Ano                                                           2014
  Motor                                                     Motor V8
  Nome                                                            J2
  Quilometragem                                              90684.0
  Valor                                                     60017.03
  Zero_km                                                      False
  Name: 34, dtype: object),
 (35, Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
  Ano                                                           1995
  Motor                                                     Motor V8
  Nome                                              Aston Martin DBS
  Quilometragem                                              43975.0
  Valor                                                    118909.52
  Zero_km                                                      False
  Name: 35, dtype: object),
 (36, Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
  Ano                                                           2019
  Motor                                              Motor 2.4 Turbo
  Nome                                                    Pajero TR4
  Quilometragem                                                  NaN
  Valor                                                     51606.59
  Zero_km                                                       True
  Name: 36, dtype: object),
 (37, Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
  Ano                                                           2019
  Motor                                                     Motor V6
  Nome                                                    Polo Sedan
  Quilometragem                                                  NaN
  Valor                                                    123281.87
  Zero_km                                                       True
  Name: 37, dtype: object),
 (38, Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...
  Ano                                                           2009
  Motor                                                 Motor 1.0 8v
  Nome                                                    California
  Quilometragem                                               5526.0
  Valor                                                     69770.18

In [150]:
for index, item in dataset3.iteritems():
  print(index)
  print(item)

Acessórios
0      ['Rodas de liga', 'Travas elétricas', 'Piloto ...
1      ['Central multimídia', 'Teto panorâmico', 'Fre...
2      ['Piloto automático', 'Controle de estabilidad...
3      ['Travas elétricas', '4 X 4', 'Vidros elétrico...
4      ['Rodas de liga', '4 X 4', 'Central multimídia...
                             ...
253    ['Controle de estabilidade', 'Piloto automátic...
254    ['Bancos de couro', 'Painel digital', 'Sensor ...
255    ['Rodas de liga', 'Controle de tração', 'Câmbi...
256    ['Ar condicionado', '4 X 4', 'Câmbio automátic...
257    ['Central multimídia', 'Teto panorâmico', 'Vid...
Name: Acessórios, Length: 258, dtype: object
Ano
0      2003
1      1991
2      1990
3      2019
4      2006
       ...
253    2014
254    1991
255    2002
256    1996
257    1992
Name: Ano, Length: 258, dtype: int64
Motor
0            Motor 4.0 Turbo
1               Motor Diesel
2            Motor Diesel V8
3            Motor 2.4 Turbo
4            Motor 2.4 Turbo
               ...
253                 Motor V8
254                 Motor V8
255    Motor 5.0 V8 Bi-Turbo
256             Motor Diesel
257          Motor Diesel V6
Name: Motor, Length: 258, dtype: object
Nome
0              Jetta Variant
1                     Passat
2                   Crossfox
3                        DS5
4           Aston Martin DB4
               ...
253             Phantom 2013
254    Cadillac Ciel concept
255               Classe GLK
256         Aston Martin DB5
257                    Macan
Name: Nome, Length: 258, dtype: object
Quilometragem
0      44410.0
1       5712.0
2      37123.0
3          NaN
4      25757.0
        ...
253    27505.0
254    29981.0
255    52637.0
256     7685.0
257    50188.0
Name: Quilometragem, Length: 258, dtype: float64
Valor
0       88078.64
1      106161.94
2       72832.16
3      124549.07
4       92612.10
         ...
253     51759.58
254     51667.06
255     68934.03
256    122110.90
257     90381.47
Name: Valor, Length: 258, dtype: float64
Zero_km
0      False
1      False
2      False
3       True
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Zero_km, Length: 258, dtype: bool

In [151]:
for i in dataset3.itertuples():
  print(i)

Pandas(Index=0, Acessórios="['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']", Ano=2003, Motor='Motor 4.0 Turbo', Nome='Jetta Variant', Quilometragem=44410.0, Valor=88078.64, Zero_km=False)
Pandas(Index=1, Acessórios="['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento']", Ano=1991, Motor='Motor Diesel', Nome='Passat', Quilometragem=5712.0, Valor=106161.94, Zero_km=False)
Pandas(Index=2, Acessórios="['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']", Ano=1990, Motor='Motor Diesel V8', Nome='Crossfox', Quilometragem=37123.0, Valor=72832.16, Zero_km=False)
Pandas(Index=3, Acessórios="['Travas elétricas', '4 X 4', 'Vidros elétricos', 'Sensor crepuscular', 'Sensor de chuva', 'Câmera de estacionamento', 'Ar condicionado', 'Rodas de liga']", Ano=2019, Motor='Motor 2.4 Turbo', Nome='DS5', Quilometragem=nan, Valor=124549.07, Zero_km=True)
Pandas(Index=4, Acessórios="['Rodas de liga', '4 X 4', 'Central multimídia', 'Ar condicionado', 'Controle de estabilidade', 'Câmbio automático', 'Sensor de estacionamento', 'Piloto automático']", Ano=2006, Motor='Motor 2.4 Turbo', Nome='Aston Martin DB4', Quilometragem=25757.0, Valor=92612.1, Zero_km=False)
Pandas(Index=5, Acessórios="['Sensor de estacionamento', 'Teto panorâmico', 'Sensor crepuscular', 'Painel digital', 'Ar condicionado', 'Rodas de liga', 'Controle de estabilidade', 'Bancos de couro']", Ano=2012, Motor='Motor 1.8 16v', Nome='Palio Weekend', Quilometragem=10728.0, Valor=97497.73, Zero_km=False)
Pandas(Index=6, Acessórios="['Câmbio automático', 'Câmera de estacionamento', 'Freios ABS', 'Controle de tração', 'Central multimídia', 'Travas elétricas', 'Sensor crepuscular', 'Rodas de liga']", Ano=2019, Motor='Motor 4.0 Turbo', Nome='A5', Quilometragem=nan, Valor=56445.2, Zero_km=True)
Pandas(Index=7, Acessórios="['Controle de estabilidade', 'Sensor crepuscular', 'Controle de tração', 'Teto panorâmico', 'Travas elétricas', 'Piloto automático', 'Painel digital', 'Câmera de estacionamento']", Ano=2009, Motor='Motor 1.0 8v', Nome='Série 3 Cabrio', Quilometragem=77599.0, Valor=112310.44, Zero_km=False)
Pandas(Index=8, Acessórios="['Vidros elétricos', 'Piloto automático', 'Teto panorâmico', 'Ar condicionado', 'Bancos de couro', 'Câmbio automático', 'Rodas de liga', 'Travas elétricas']", Ano=2010, Motor='Motor 3.0 32v', Nome='Dodge Jorney', Quilometragem=99197.0, Valor=120716.27, Zero_km=False)
Pandas(Index=9, Acessórios="['Ar condicionado', 'Painel digital', 'Central multimídia', 'Sensor crepuscular', 'Câmbio automático', 'Rodas de liga', 'Controle de tração', 'Câmera de estacionamento']", Ano=2011, Motor='Motor 5.0 V8 Bi-Turbo', Nome='Carens', Quilometragem=37978.0, Valor=76566.49, Zero_km=False)
Pandas(Index=10, Acessórios="['Sensor crepuscular', 'Rodas de liga', 'Teto panorâmico', 'Sensor de chuva', 'Travas elétricas', 'Sensor de estacionamento', 'Controle de tração', 'Ar condicionado']", Ano=2002, Motor='Motor Diesel V6', Nome='Ford Edge', Quilometragem=12859.0, Valor=71647.59, Zero_km=False)
Pandas(Index=11, Acessórios="['Central multimídia', '4 X 4', 'Piloto automático', 'Teto panorâmico', 'Controle de estabilidade', 'Câmera de estacionamento', 'Bancos de couro', 'Vidros elétricos']", Ano=2007, Motor='Motor Diesel V8', Nome='Courier', Quilometragem=8052.0, Valor=73919.53, Zero_km=False)
Pandas(Index=12, Acessórios="['Bancos de couro', 'Sensor de chuva', 'Rodas de liga', 'Central multimídia', 'Travas elétricas', 'Ar condicionado', 'Câmera de estacionamento', 'Sensor crepuscular']", Ano=2001, Motor='Motor V6', Nome='S-18', Quilometragem=89773.0, Valor=112732.99, Zero_km=False)
Pandas(Index=13, Acessórios="['Sensor crepuscular', 'Painel digital', 'Rodas de liga', 'Freios ABS', 'Câmbio automático', 'Controle de tração', 'Central multimídia', 'Câmera de estacionamento']", Ano=2019, Motor='Motor V6', Nome='J5', Quilometragem=nan, Valor=53183.38, Zero_km=True)
Pandas(Index=14, Acessórios="['Piloto automático', 'Sensor crepuscular', 'Sensor de chuva', 'Ar condicionado', 'Sensor de estacionamento', 'Controle de tração', 'Câmera de estacionamento', 'Vidros elétricos']", Ano=2009, Motor='Motor 5.0 V8 Bi-Turbo', Nome='F-Type Coupé', Quilometragem=41457.0, Valor=127488.42, Zero_km=False)
Pandas(Index=15, Acessórios="['Sensor crepuscular', 'Câmbio automático', 'Sensor de chuva', 'Central multimídia', 'Controle de estabilidade', '4 X 4', 'Freios ABS', 'Piloto automático']", Ano=2016, Motor='Motor Diesel V8', Nome='RAM', Quilometragem=115607.0, Valor=59910.4, Zero_km=False)
Pandas(Index=16, Acessórios="['Teto panorâmico', 'Câmera de estacionamento', 'Travas elétricas', '4 X 4', 'Painel digital', 'Central multimídia', 'Rodas de liga', 'Freios ABS']", Ano=2012, Motor='Motor 3.0 32v', Nome='Série 1', Quilometragem=46449.0, Valor=61118.59, Zero_km=False)
Pandas(Index=17, Acessórios="['4 X 4', 'Piloto automático', 'Central multimídia', 'Teto panorâmico', 'Sensor de estacionamento', 'Controle de tração', 'Controle de estabilidade', 'Sensor de chuva']", Ano=2019, Motor='Motor 1.0 8v', Nome='A3', Quilometragem=nan, Valor=88552.39, Zero_km=True)
Pandas(Index=18, Acessórios="['Travas elétricas', 'Vidros elétricos', 'Teto panorâmico', 'Central multimídia', 'Controle de estabilidade', '4 X 4', 'Câmbio automático', 'Sensor de chuva']", Ano=2016, Motor='Motor 1.0 8v', Nome='XC90', Quilometragem=37086.0, Valor=62696.69, Zero_km=False)
Pandas(Index=19, Acessórios="['4 X 4', 'Piloto automático', 'Central multimídia', 'Bancos de couro', 'Sensor de chuva', 'Rodas de liga', 'Ar condicionado', 'Sensor crepuscular']", Ano=2017, Motor='Motor 3.0 32v', Nome='RS 3 Sportback', Quilometragem=15173.0, Valor=101726.3, Zero_km=False)
Pandas(Index=20, Acessórios="['Sensor de estacionamento', 'Piloto automático', 'Câmbio automático', 'Painel digital', 'Freios ABS', 'Câmera de estacionamento', 'Rodas de liga', 'Controle de estabilidade']", Ano=2002, Motor='Motor 1.0 8v', Nome='Pajero Sport', Quilometragem=101193.0, Valor=106147.38, Zero_km=False)
Pandas(Index=21, Acessórios="['Controle de estabilidade', 'Central multimídia', 'Painel digital', 'Sensor crepuscular', 'Sensor de chuva', 'Câmera de estacionamento', 'Ar condicionado', 'Freios ABS']", Ano=2019, Motor='Motor V8', Nome='Série 1 M', Quilometragem=nan, Valor=94564.4, Zero_km=True)
Pandas(Index=22, Acessórios="['Rodas de liga', 'Câmbio automático', 'Travas elétricas', 'Teto panorâmico', 'Controle de estabilidade', 'Central multimídia', 'Sensor de estacionamento', 'Sensor crepuscular']", Ano=1994, Motor='Motor Diesel V6', Nome='Lamborghini Obvious', Quilometragem=98079.0, Valor=133529.84, Zero_km=False)
Pandas(Index=23, Acessórios="['Controle de estabilidade', 'Painel digital', 'Vidros elétricos', '4 X 4', 'Sensor crepuscular', 'Ar condicionado', 'Travas elétricas', 'Central multimídia']", Ano=1991, Motor='Motor Diesel', Nome='Effa Hafei Picape Baú', Quilometragem=102959.0, Valor=125684.65, Zero_km=False)
Pandas(Index=24, Acessórios="['Freios ABS', 'Câmbio automático', 'Ar condicionado', 'Câmera de estacionamento', 'Controle de tração', 'Central multimídia', 'Sensor crepuscular', 'Controle de estabilidade']", Ano=2019, Motor='Motor 5.0 V8 Bi-Turbo', Nome='Lamborghini Murciélago', Quilometragem=nan, Valor=121596.21, Zero_km=True)
Pandas(Index=25, Acessórios="['Sensor de estacionamento', 'Vidros elétricos', 'Freios ABS', 'Central multimídia', 'Controle de estabilidade', 'Sensor de chuva', 'Câmbio automático', 'Piloto automático']", Ano=2019, Motor='Motor Diesel V6', Nome='Up!', Quilometragem=nan, Valor=71367.1, Zero_km=True)
Pandas(Index=26, Acessórios="['Ar condicionado', 'Bancos de couro', 'Câmbio automático', 'Câmera de estacionamento', 'Piloto automático', 'Controle de estabilidade', 'Sensor de chuva', 'Vidros elétricos']", Ano=2016, Motor='Motor 4.0 Turbo', Nome='Fiesta Rocam Sedan', Quilometragem=5795.0, Valor=95347.75, Zero_km=False)
Pandas(Index=27, Acessórios="['Freios ABS', 'Ar condicionado', 'Teto panorâmico', 'Painel digital', 'Sensor de estacionamento', 'Vidros elétricos', 'Sensor crepuscular', 'Piloto automático']", Ano=2019, Motor='Motor 3.0 32v', Nome='Sandero Stepway', Quilometragem=nan, Valor=105432.84, Zero_km=True)
Pandas(Index=28, Acessórios="['Câmbio automático', 'Sensor de estacionamento', 'Rodas de liga', 'Vidros elétricos', '4 X 4', 'Bancos de couro', 'Painel digital', 'Travas elétricas']", Ano=2002, Motor='Motor 3.0 32v', Nome='Cayman S', Quilometragem=58848.0, Valor=57045.27, Zero_km=False)
Pandas(Index=29, Acessórios="['Câmera de estacionamento', 'Sensor de estacionamento', 'Rodas de liga', 'Controle de tração', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Sensor de chuva']", Ano=1991, Motor='Motor 4.0 Turbo', Nome='V40', Quilometragem=94381.0, Valor=120432.7, Zero_km=False)
Pandas(Index=30, Acessórios="['Sensor de estacionamento', 'Controle de estabilidade', 'Sensor de chuva', 'Travas elétricas', 'Painel digital', 'Sensor crepuscular', 'Piloto automático', 'Bancos de couro']", Ano=1997, Motor='Motor 1.0 8v', Nome='Classe SLS AMG', Quilometragem=30163.0, Valor=70707.2, Zero_km=False)
Pandas(Index=31, Acessórios="['Sensor crepuscular', '4 X 4', 'Vidros elétricos', 'Controle de tração', 'Ar condicionado', 'Câmera de estacionamento', 'Painel digital', 'Freios ABS']", Ano=1995, Motor='Motor 2.0 16v', Nome='Gol G4', Quilometragem=53332.0, Valor=69105.18, Zero_km=False)
Pandas(Index=32, Acessórios="['Piloto automático', 'Painel digital', 'Vidros elétricos', 'Controle de tração', 'Teto panorâmico', 'Ar condicionado', 'Câmera de estacionamento', 'Rodas de liga']", Ano=2018, Motor='Motor 1.0 8v', Nome='Linea', Quilometragem=17720.0, Valor=59358.69, Zero_km=False)
Pandas(Index=33, Acessórios="['Controle de tração', 'Sensor crepuscular', 'Travas elétricas', 'Bancos de couro', 'Câmera de estacionamento', 'Rodas de liga', 'Central multimídia', '4 X 4']", Ano=1991, Motor='Motor 2.0 16v', Nome='Ford F100', Quilometragem=33808.0, Valor=65955.4, Zero_km=False)
Pandas(Index=34, Acessórios="['Teto panorâmico', 'Sensor de estacionamento', 'Bancos de couro', 'Vidros elétricos', 'Freios ABS', 'Rodas de liga', 'Travas elétricas', 'Câmbio automático']", Ano=2014, Motor='Motor V8', Nome='J2', Quilometragem=90684.0, Valor=60017.03, Zero_km=False)
Pandas(Index=35, Acessórios="['Teto panorâmico', 'Piloto automático', 'Ar condicionado', 'Vidros elétricos', 'Bancos de couro', 'Travas elétricas', 'Sensor de chuva', 'Sensor crepuscular']", Ano=1995, Motor='Motor V8', Nome='Aston Martin DBS', Quilometragem=43975.0, Valor=118909.52, Zero_km=False)
Pandas(Index=36, Acessórios="['Controle de tração', 'Bancos de couro', 'Câmera de estacionamento', 'Controle de estabilidade', 'Vidros elétricos', 'Piloto automático', 'Rodas de liga', 'Teto panorâmico']", Ano=2019, Motor='Motor 2.4 Turbo', Nome='Pajero TR4', Quilometragem=nan, Valor=51606.59, Zero_km=True)
Pandas(Index=37, Acessórios="['Sensor de chuva', 'Sensor crepuscular', 'Ar condicionado', 'Sensor de estacionamento', 'Teto panorâmico', 'Câmbio automático', 'Vidros elétricos', 'Travas elétricas']", Ano=2019, Motor='Motor V6', Nome='Polo Sedan', Quilometragem=nan, Valor=123281.87, Zero_km=True)
Pandas(Index=38, Acessórios="['Rodas de liga', 'Ar condicionado', 'Câmera de estacionamento', 'Painel digital', 'Travas elétricas', 'Sensor crepuscular', 'Central multimídia', 'Freios ABS']", Ano=2009, Motor='Motor 1.0 8v', Nome='California', Quilometragem=5526.0, Valor=69770.18, Zero_km=False)
Pandas(Index=39, Acessórios="['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar condicionado', 'Controle de tração', 'Central multimídia', 'Painel digital', 'Sensor crepuscular']", Ano=2019, Motor='Motor 2.4 Turbo', Nome='S60', Quilometragem=nan, Valor=102609.54, Zero_km=True)
Pandas(Index=40, Acessórios="['Vidros elétricos', 'Sensor crepuscular', 'Freios ABS', 'Câmera de estacionamento', 'Piloto automático', 'Travas elétricas', 'Câmbio automático', '4 X 4']", Ano=2013, Motor='Motor 2.0 16v', Nome='Tucson', Quilometragem=93415.0, Valor=67997.19, Zero_km=False)
Pandas(Index=41, Acessórios="['Sensor de chuva', 'Travas elétricas', 'Controle de tração', 'Freios ABS', 'Ar condicionado', 'Teto panorâmico', 'Vidros elétricos', 'Câmbio automático']", Ano=2003, Motor='Motor V6', Nome='HB20', Quilometragem=40762.0, Valor=135235.29, Zero_km=False)
Pandas(Index=42, Acessórios="['Central multimídia', 'Ar condicionado', 'Teto panorâmico', 'Freios ABS', 'Painel digital', 'Controle de estabilidade', '4 X 4', 'Sensor de estacionamento']", Ano=2019, Motor='Motor 1.8 16v', Nome='Optima', Quilometragem=nan, Valor=86641.34, Zero_km=True)
Pandas(Index=43, Acessórios="['Câmera de estacionamento', 'Vidros elétricos', 'Central multimídia', 'Sensor de chuva', 'Sensor crepuscular', 'Painel digital', 'Ar condicionado', 'Bancos de couro']", Ano=2002, Motor='Motor 4.0 Turbo', Nome='Logan', Quilometragem=86302.0, Valor=136818.39, Zero_km=False)
Pandas(Index=44, Acessórios="['4 X 4', 'Vidros elétricos', 'Rodas de liga', 'Central multimídia', 'Câmera de estacionamento', 'Sensor de estacionamento', 'Piloto automático', 'Ar condicionado']", Ano=2019, Motor='Motor 1.0 8v', Nome='Range Rover Vogue', Quilometragem=nan, Valor=117626.73, Zero_km=True)
Pandas(Index=45, Acessórios="['Piloto automático', 'Ar condicionado', 'Vidros elétricos', '4 X 4', 'Sensor de estacionamento', 'Bancos de couro', 'Travas elétricas', 'Controle de estabilidade']", Ano=2002, Motor='Motor 5.0 V8 Bi-Turbo', Nome='Sonata', Quilometragem=9755.0, Valor=56208.7, Zero_km=False)
Pandas(Index=46, Acessórios="['Teto panorâmico', 'Painel digital', 'Ar condicionado', 'Central multimídia', '4 X 4', 'Controle de estabilidade', 'Câmbio automático', 'Sensor de chuva']", Ano=2004, Motor='Motor 3.0 32v', Nome='Ford New Fiesta Sedan', Quilometragem=69945.0, Valor=84222.65, Zero_km=False)
Pandas(Index=47, Acessórios="['Controle de tração', 'Piloto automático', 'Ar condicionado', 'Bancos de couro', 'Freios ABS', 'Central multimídia', 'Sensor de chuva', '4 X 4']", Ano=2001, Motor='Motor 4.0 Turbo', Nome='Série 5 Gran Turismo', Quilometragem=2395.0, Valor=90781.65, Zero_km=False)
Pandas(Index=48, Acessórios="['Câmbio automático', 'Central multimídia', 'Vidros elétricos', 'Controle de estabilidade', 'Controle de tração', 'Bancos de couro', 'Freios ABS', 'Painel digital']", Ano=2019, Motor='Motor Diesel V8', Nome='CR-V', Quilometragem=nan, Valor=64701.1, Zero_km=True)
Pandas(Index=49, Acessórios="['Vidros elétricos', 'Piloto automático', 'Painel digital', 'Freios ABS', 'Bancos de couro', 'Teto panorâmico', 'Sensor de chuva', 'Rodas de liga']", Ano=2003, Motor='Motor 1.0 8v', Nome='Ford EcoSport', Quilometragem=80349.0, Valor=126350.49, Zero_km=False)
Pandas(Index=50, Acessórios="['Bancos de couro', 'Ar condicionado', 'Rodas de liga', 'Sensor crepuscular', 'Travas elétricas', 'Sensor de estacionamento', 'Piloto automático', 'Controle de estabilidade']", Ano=2009, Motor='Motor 3.0 32v', Nome='Versa', Quilometragem=85554.0, Valor=148152.89, Zero_km=False)
Pandas(Index=51, Acessórios="['Freios ABS', 'Sensor de estacionamento', 'Central multimídia', 'Câmera de estacionamento', 'Ar condicionado', 'Teto panorâmico', 'Câmbio automático', 'Piloto automático']", Ano=2006, Motor='Motor 1.0 8v', Nome='Classe E', Quilometragem=50496.0, Valor=132298.83, Zero_km=False)
Pandas(Index=52, Acessórios="['Travas elétricas', 'Câmbio automático', 'Câmera de estacionamento', 'Freios ABS', 'Central multimídia', 'Rodas de liga', 'Teto panorâmico', 'Controle de estabilidade']", Ano=2000, Motor='Motor V8', Nome='Carnival', Quilometragem=67716.0, Valor=137627.63, Zero_km=False)
Pandas(Index=53, Acessórios="['Câmbio automático', 'Câmera de estacionamento', 'Vidros elétricos', 'Controle de estabilidade', 'Central multimídia', 'Piloto automático', 'Sensor crepuscular', 'Travas elétricas']", Ano=2006, Motor='Motor 2.4 Turbo', Nome='Aston Martin V8 Vantage Roadster', Quilometragem=93947.0, Valor=80422.71, Zero_km=False)
Pandas(Index=54, Acessórios="['Controle de estabilidade', 'Bancos de couro', 'Sensor de chuva', 'Painel digital', 'Vidros elétricos', 'Freios ABS', 'Controle de tração', 'Ar condicionado']", Ano=2010, Motor='Motor 5.0 V8 Bi-Turbo', Nome='Hoggar', Quilometragem=35345.0, Valor=56373.99, Zero_km=False)
Pandas(Index=55, Acessórios="['Painel digital', 'Câmbio automático', 'Câmera de estacionamento', 'Freios ABS', 'Controle de estabilidade', 'Sensor crepuscular', '4 X 4', 'Ar condicionado']", Ano=1994, Motor='Motor 5.0 V8 Bi-Turbo', Nome='A1', Quilometragem=81007.0, Valor=70846.03, Zero_km=False)
Pandas(Index=56, Acessórios="['Sensor crepuscular', 'Piloto automático', 'Teto panorâmico', 'Freios ABS', 'Câmbio automático', 'Central multimídia', 'Vidros elétricos', 'Sensor de estacionamento']", Ano=2007, Motor='Motor V6', Nome='Aston Martin DB7 Vantage', Quilometragem=119513.0, Valor=128694.23, Zero_km=False)
Pandas(Index=57, Acessórios="['Central multimídia', 'Sensor de chuva', 'Controle de estabilidade', 'Sensor crepuscular', 'Rodas de liga', 'Piloto automático', '4 X 4', 'Vidros elétricos']", Ano=2019, Motor='Motor 1.0 8v', Nome='CLA', Quilometragem=nan, Valor=133329.19, Zero_km=True)
Pandas(Index=58, Acessórios="['Sensor de estacionamento', 'Ar condicionado', 'Central multimídia', 'Controle de tração', 'Rodas de liga', 'Teto panorâmico', 'Sensor de chuva', 'Câmera de estacionamento']", Ano=2019, Motor='Motor V8', Nome='Accord', Quilometragem=nan, Valor=131961.43, Zero_km=True)
Pandas(Index=59, Acessórios="['Sensor de estacionamento', 'Central multimídia', 'Bancos de couro', 'Sensor crepuscular', 'Teto panorâmico', 'Controle de tração', 'Piloto automático', 'Sensor de chuva']", Ano=2019, Motor='Motor 2.0 16v', Nome='EXTRA 103EX', Quilometragem=nan, Valor=112033.27, Zero_km=True)
Pandas(Index=60, Acessórios="['Sensor de chuva', 'Câmera de estacionamento', 'Sensor de estacionamento', 'Controle de estabilidade', 'Rodas de liga', 'Travas elétricas', 'Vidros elétricos', 'Controle de tração']", Ano=2019, Motor='Motor Diesel', Nome='Sorento', Quilometragem=nan, Valor=81399.35, Zero_km=True)
Pandas(Index=61, Acessórios="['Câmera de estacionamento', 'Freios ABS', 'Piloto automático', 'Vidros elétricos', 'Câmbio automático', 'Sensor crepuscular', 'Sensor de estacionamento', 'Controle de tração']", Ano=2019, Motor='Motor 3.0 32v', Nome='Tiggo', Quilometragem=nan, Valor=97163.1, Zero_km=True)
Pandas(Index=62, Acessórios="['Sensor de estacionamento', 'Travas elétricas', 'Piloto automático', 'Rodas de liga', 'Controle de tração', 'Ar condicionado', '4 X 4', 'Sensor crepuscular']", Ano=2017, Motor='Motor Diesel', Nome='New Fiesta Hatch', Quilometragem=118895.0, Valor=66007.16, Zero_km=False)
Pandas(Index=63, Acessórios="['Vidros elétricos', 'Teto panorâmico', 'Bancos de couro', 'Travas elétricas', 'Sensor de chuva', 'Controle de tração', 'Freios ABS', 'Central multimídia']", Ano=2011, Motor='Motor 5.0 V8 Bi-Turbo', Nome='Jeep Renegade', Quilometragem=48509.0, Valor=128776.22, Zero_km=False)
Pandas(Index=64, Acessórios="['Bancos de couro', 'Câmera de estacionamento', 'Central multimídia', '4 X 4', 'Sensor de chuva', 'Ar condicionado', 'Rodas de liga', 'Sensor crepuscular']", Ano=2001, Motor='Motor 2.0 16v', Nome='Lamborghini Ankonian', Quilometragem=100912.0, Valor=142623.02, Zero_km=False)
Pandas(Index=65, Acessórios="['Teto panorâmico', 'Vidros elétricos', 'Sensor de chuva', 'Travas elétricas', 'Rodas de liga', 'Sensor crepuscular', 'Freios ABS', 'Ar condicionado']", Ano=1996, Motor='Motor 5.0 V8 Bi-Turbo', Nome='Space Cross', Quilometragem=95649.0, Valor=136930.13, Zero_km=False)

# 5.5 Tratamento de dados

1) isna() - Detecta valores faltantes. Retorna um DataFrame ou uma Series booleana, identificando se o registro é um NA

2) fillna() - Preenche os registros identificados com NA, utilizando um método específico

3) dropna() - Remove registros com valores identificados como NA

In [152]:
dataset4.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [153]:
dataset4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [154]:
dataset4.isnull().sum()

Motor             0
Ano               0
Quilometragem    61
Zero_km           0
Acessórios        0
Valor             0
km_media          0
dtype: int64

In [155]:
dataset4.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [156]:
dataset4[dataset4.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [157]:
dataset4.fillna(0)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [158]:
dataset4

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [159]:
#Keeping the substitution on NA values, use inplace
dataset4.fillna(0, inplace = True)

In [160]:
dataset4

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [161]:
dataset4.query('Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [162]:
dataset4 = pd.read_csv('db.csv', sep=";")
dataset4.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [163]:
dataset4.dropna(subset = ['Quilometragem'], inplace = True)

In [164]:
dataset4

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [165]:
dataset4.isna()

      Nome  Motor    Ano  Quilometragem  Zero_km  Acessórios  Valor
0    False  False  False          False    False       False  False
1    False  False  False          False    False       False  False
2    False  False  False          False    False       False  False
4    False  False  False          False    False       False  False
5    False  False  False          False    False       False  False
..     ...    ...    ...            ...      ...         ...    ...
253  False  False  False          False    False       False  False
254  False  False  False          False    False       False  False
255  False  False  False          False    False       False  False
256  False  False  False          False    False       False  False
257  False  False  False          False    False       False  False

[197 rows x 7 columns]

**DESAFIO**

In [ ]:
cadastro = [[1, 2, 3, 4], ['Ana', 'Maria', 'Paulo', 'Roberto']]

In [ ]:
cadastro

[[1, 2, 3, 4], ['Ana', 'Maria', 'Paulo', 'Roberto']]

In [ ]:
lista = []
for i in cadastro:
  lista.append(i[1:3])
lista

[[2, 3], ['Maria', 'Paulo']]

In [ ]:
for i in cadastro:
  for a in i[1:3]:
    print(a)

2
3
Maria
Paulo

In [ ]:
[a for i in cadastro for a in i[1:3]]

[2, 3, 'Maria', 'Paulo']

In [ ]:
cadastro = [[1, 2, 3, 4], ['Ana', 'Maria', 'Paulo', 'Roberto']]

[[a for a in i[1:3]] for i in cadastro]

[[2, 3], ['Maria', 'Paulo']]

In [ ]:
list((cadastro[0][1:3], cadastro[1][1:3]))

[[2, 3], ['Maria', 'Paulo']]